
<nav class="">
    <a class="" href="/">Home</a>
    <a class="" href="/StorePage/All">Store</a>
    <a class="" href="/CartPage">Cart</a>
    <a class="" href="/AboutPage">About</a>
    <a class="" href="/ContactPage">Contact</a>
    <a class="" href="/PortfolioPage">Portfolio</a>
</nav>