<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>
    <form action="CheckOut" method="post">
        <input placeholder="Address" type="text" name="Address" id="">
        <input placeholder="City" type="text" name="City" id="">
        <input placeholder="State" type="text" name="State" id="">
        <input placeholder="Zip Code" type="text" name="ZipCode" id="">
        <button type="submit">Check Out</button>
    </form>
    
    


    <%- include('../Partials/Footer.ejs') %>
</body>
</html>