<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>
    
    <form action="/ContactSend" method="post">
        <input name="FirstName" placeholder="First Name">
        <input name="LastName" placeholder="Last Name">
        <input name="Email" placeholder="Email">
        <textarea name="Content" id="" cols="30" rows="10" placeholder="What you thinkin"></textarea>
        <button type="submit">Send</button>
    </form>
    <%- include('../Partials/Footer.ejs') %>
</body>
</html>
