<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    
    <form action="/addProduct" method="post" enctype="multipart/form-data">
        <input placeholder="Enter Product Name" type="text" name="Name" >
        <input placeholder="Enter Category" type="text" name="Category" >
        <input placeholder="Enter Description" type="text" name="Description" >
        <input placeholder="Enter Cost" type="text" name="Cost" >
        <input type="file" name="sampleFile" />
		<input type='submit' value='Upload!' />
    </form>
    <%= error %>
</body>
</html>